package com.solvek.gardenmonitor

object Config {
    val address = "F6:30:3E:A2:AF:0B"

    // Accuweather API key
    val AW_API_KEY = "!!!PUT KEY HERE!!!"
    // Accuweather location key. 324505 - Kyiv
    val AW_LOCATION_ID = 324505
}